.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.react-calendar__navigation button {
  color: #ffc96f;
  min-width: 44px;
  background: none;
  font-size: 1rem;
  margin-top: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: #e53e3e;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 0.75rem;
  background: #fefaf6;
  /* border-radius: 1rem; */
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #ffc96f;
  color: #2d3748;
}

.react-calendar__tile--now {
  background: #ffc96f;
  color: white;
}

.react-calendar__tile--active {
  background: #ffc96f;
  color: white;
}

.react-calendar__tile--hasActive {
  background: #ffc96f;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffc96f;
  color: white;
}
